@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@900&display=swap");
@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: $fontSize;
}

.main-container {
  @media screen and (max-width: 768px) {
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  nav {
    .logo {
      margin: 20px;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 40px;
      user-select: none;
    }
    display: flex;
    .nav-list {
      display: flex;
      margin: 40px;
      font-family: sans-serif;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        display: none;
      }
      & a {
        color: $lightGray;
        margin: 10px;
        margin-right: 30px;

        &:hover {
          color: $black;
        }
      }
    }
    .options {
      margin-left: 30rem;
      @media screen and (max-width: 768px) {
        display: none;
      }
      button {
        margin: 25px;
        background: none;
        outline: none;
        border: none;
        list-style: none;
        cursor: pointer;
        color: $lightGray;

        &:hover {
          color: $black;
        }
      }
      .signup {
        border: 1px solid $lightGray;
        padding: 10px;
        border-radius: 5px;
      }
    }

    .menu-icon {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        float: right;
        justify-content: space-between;
        margin-left: 290px;
        font-size: 50px;
        cursor: pointer;
      }
    }

    #menu-toggle {
      display: none;
    }
  }
  .hero {
    display: flex;
    width: 70rem;
    margin: 80px;
    @media screen and (max-width: 768px) {
      margin: 0;
      width: 0;
    }
    .about-info {
      @media screen and (max-width: 768px) {
        margin-top: 500px;
      }
      & h1 {
        font-weight: bold;
        font-style: normal;
        font-size: 90px;
        font-family: $fontFamily;
        @media screen and (max-width: 768px) {
          font-size: 50px;
        }
      }
      & p {
        font-family: sans-serif;
        color: $lightGray;
        line-height: 25px;
        letter-spacing: 1px;
        width: 460px;
      }
      & .learn-more {
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 15px;
        border-radius: 20px;
        background: $black;
        color: white;
        outline: none;
        border: none;
        font-weight: bold;
        &:hover {
          background: transparent;
          color: black;
          font-weight: bold;
          border: 1px solid black;
        }
      }
      .images {
        margin-top: 50px;
        position: fixed;
      }
    }
  }
  .side-image {
    @media screen and (max-width: 768px) {
      position: absolute;
    }
    & img {
      width: 500px;
      display: flex;
      margin-top: -100px;
      margin-left: 100px;
      @media screen and (max-width: 768px) {
        content: url("../images/image-hero-mobile.png");
        margin: 0;
      }
    }
  }
}
