@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@900&display=swap");
@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: $fontSize;
}

.main-container {
  nav {
    .logo {
      margin: 20px;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 40px;
      user-select: none;
    }
    display: flex;
    .nav-list {
      display: flex;
      margin: 40px;
      font-family: sans-serif;
      justify-content: space-between;
      & a {
        color: $lightGray;
        margin: 10px;
        &:hover {
          color: $black;
        }
      }
    }
    .options {
      button {
        margin: 20px;
        background: none;
        outline: none;
        border: none;
        list-style: none;
        cursor: pointer;
        color: $lightGray;

        &:hover {
          color: $black;
        }
      }
      .login {
      }
      .signup {
        border: 1px solid $lightGray;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
  .hero {
    display: flex;
    width: 70rem;
    margin: 80px;
    .about-info {
      & h1 {
        font-weight: bold;
        font-style: normal;
        font-size: 90px;
        font-family: $fontFamily;
      }
      & p {
        font-family: sans-serif;
        color: $lightGray;
        line-height: 25px;
        letter-spacing: 1px;
        width: 460px;
      }
      & .learn-more {
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 15px;
        border-radius: 20px;
        background: $black;
        color: white;
        outline: none;
        border: none;
        font-weight: bold;
        &:hover {
          background: transparent;
          color: black;
          font-weight: bold;
          border: 1px solid black;
        }
      }
      .images {
        margin-top: 50px;
      }
    }
  }
  .side-image {
    & img {
      width: 500px;
      display: flex;
      margin-top: -100px;
      margin-left: 100px;
    }
  }
}
